# Virtual Environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# ChromaDB files
chrome_langchain_db/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.log
.env